.container {
  background-color: #1f2227;
  min-height: 100vh;
}

.canvasContainer {
  padding:   0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.mapSelector {
  position: absolute;
  height: 32px;
  width: 32px;
  margin: auto;
  top: 40%;
}

.outputPlot {
  position: absolute;
  margin-left: calc(50vw - 150px);
}

.triangleContainer {
  width: 300px;
  height: 300px;
  /* position: relative; */
}

.scatterPlotContainer {
  margin-top: 70px;
  min-height: 50vh
}

.main {
  padding-top: 100px;
}

.saveBtn {
  text-align: center;
   padding: 10px 20px;
   cursor: pointer;
}

.answerListConatiner {
  text-align: center;
  color: white;
  font-size: 20px;
}

.triangleLables {
  position: absolute;
  color: white;
}

.outputHeading {
  text-align: center;
  color:  white;
  padding-top: 70px;
}